PG_HOST=localhost
PG_PORT=5432
PG_USER=app
PG_PASSWORD=app123
PG_DATABASE=teste_pacientes

# Inserção contínua
STREAM_INTERVAL_SECONDS=10
BATCH_SIZE=50
MAX_JITTER_MS=400

# Semeadura (seed)
SEED_PACIENTES=2000
SEED_MEDICOS=200
SEED_CONVENIOS=12
SEED_CONSULTAS=4000
SEED_EXAMES=3500
SEED_INTERNACOES=1200
SEED_PACIENTES_CONVENIOS=2500

LOG_LEVEL=INFO
